<!-- Alerta para quando uma delete ou creat funciona com sucesso -->
<div class="alert alert-success alert-dismissible fade in" id="notice">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Sucesso!</strong> <%= notice %>
</div> 


