<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"></meta>
	</head>
	<body class="background_image">

		<div class="user-box">
			<div class="form-top">
				<h2><span class="glyphicon glyphicon-info-sign""></span> Informações para contato</h2>
			</div> 
		</div>

		<br></br>

		<div class="form-bottom">
			<h4> Desenvolvido por:</h4>
		<ul>
			<li> Natan Macena Ribeiro : <a href="https://github.com/Natan7" target="_blank"> GitHub </a><strong>Email</strong> : natan.ribeiro@ccc.ufcg.edu.br</li>
		</ul>

	</div>

	
	</body>
</html>